absl-py==1.0.0
aiohttp==3.7.4.post0
altgraph==0.17.2
amqp==5.1.0
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.4.0
billiard==3.6.4.0
CacheControl==0.12.10
cachetools==5.0.0
celery==5.2.6
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cycler==0.11.0
et-xmlfile==1.1.0
firebase-admin==5.2.0
flatbuffers==2.0
fonttools==4.32.0
future==0.18.2
gast==0.5.3
google-api-core==2.7.1
google-api-python-client==2.43.0
google-auth==2.6.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.2.1
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
h5py==3.6.0
httplib2==0.20.4
idna==3.3
keras==2.8.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.2
kombu==5.2.4
libclang==13.0.0
Markdown==3.3.6
msgpack==1.0.3
multidict==6.0.2
oauthlib==3.2.0
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pefile==2021.9.3
Pillow==9.1.0
prompt-toolkit==3.0.29
proto-plus==1.20.3
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pynput==1.7.6
pyparsing==3.0.7
pyTelegramBotAPI==4.4.0
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
schedule==1.1.0
six==1.16.0
telebot==0.0.4
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
tinyaes==1.0.3
tqdm==4.64.0
typing_extensions==4.1.1
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.1.1
wrapt==1.14.0
XlsxWriter==3.0.3
yarl==1.7.2
